dlib==19.22.0
opencv-python==4.5.3.56
face_recognition==1.3.0
face-recognition-models==0.3.0
Flask==1.1.1
numpy==1.21.1
gunicorn
cython
appdirs
certifi
click
distlib
itsdangerous
Jinja2
joblib
MarkupSafe
python-dateutil
pytz
scipy
six
virtualenv
Werkzeug
wincertstore
